.scegliAlunnoRandom {
    background-color: darkgreen;
    color: ghostwhite;
    border-radius: 0.3rem;
}

.sceltaClasse {
    width: 32%;
    margin-top: 5px;
}

.sceltaMateria {
    width: 49%;
}

.studentTab {
    margin-bottom: 20px;
}