.sceltaClasse {
    width: 32%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: #61ca96;
    margin-bottom: 20px;
}

.sceltaMateria {
    width: 49%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: #61ca96;
    margin-bottom: 20px;
}

.pageTopic{
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: #61ca96;
    margin-bottom: 20px;
}

.selected {
    background-color: #61ca96;
    color:mintcream;
}