.alunniTabs {
    margin-top: 20px;
    margin-bottom: 20px;
    // border: 10px solid #61ca96;
    border-radius: 10%;   
}

.h3Classe {
    color: #61ca96;
}

.table {
    margin-bottom: 0px;
}