<div>
  <div class="alunniTabs">
    <h3 class="bg-light h3Classe1A" >Classe {{selectedClass}}</h3>
    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumni; let i = index;">
          <th> {{i + 1}} </th>
          <td> {{alumno.surname}} </td>
          <td>{{alumno.name}}</td>
          <button class="btn btn-primary" (click)="editAlumno(alumno)">Modifica</button>
          <button class="btn btn-danger" (click)="deleteAlumno(alumno)">Elimina</button>
        </tr>
      </tbody >
    </table>
  </div>
</div>
