<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="/instructions" class="navbar-brand home" href="#">VotiApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a routerLink="/alumni" class="nav-link active alunni" aria-current="page" href="#">Alunni</a>
            <a routerLink="/calendars" class="nav-link active calendario" href="#" id="calendarNav">Calendario</a>
            <a routerLink="/insertStudent" class="nav-link active inserimento" href="#">Inserimento</a>
            <a routerLink="/chooseAlumni" class="nav-link active scelta" href="#" tabindex="-1" aria-disabled="true" id="tastoScelta">Scelta</a>
          </div>
        </div>
      </div>
    </nav>