.calendar{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.chooseCalendarH3 {
    margin-top: 20px;
    width: 32%;
    border: 10px solid dimgray;
    border-radius: 30%;
}