.sceltaClasse {
    width: 32%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: #61ca96;
    margin-bottom: 20px;

}

.h3Classe1A {
    color: #61ca96;
}

.selected {
   
    background-color: #61ca96;
    color:mintcream;
}