<div class="d-flex flex-row flex-wrap justify-content-between cards">
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/alumni">
        <div class="card-header">Sezione Alunni</div>
        <div class="card-body">
        <h5 class="card-title">Qui puoi trovare le liste dei tuoi alunni.</h5>
        <p class="card-text">Cliccando sul nome della tua classe puoi vedere la lista degli alunni che la compongono. Potrai inoltre modificare la lista se necessario utilizzando gli appositi comandi Modifica ed Elimina.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/calendars">
        <div class="card-header">Sezione Calendario</div>
        <div class="card-body">
        <h5 class="card-title">Visualizza un calendario con le tue note e appunti</h5>
        <p class="card-text">Un calendario contiene i giorni dell'anno.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/insertStudent">
        <div class="card-header">Sezione Inserimento</div>
        <div class="card-body">
        <h5 class="card-title">Inserisci gl iAlunni nelle liste delle classi.</h5>
        <p class="card-text">Inserisci negli appositi spazi Nome e Cognome, seleziona la classe di appartenenza e premi Invio o clicca sul tasto Inserisci.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/chooseAlumni">
        <div class="card-header">Sezione Scelta</div>
        <div class="card-body">
        <h5 class="card-title">Scelta casuale di un alunno</h5>
        <p class="card-text">Con questa funzione potrai scegliere rapidamente chi interrogare, senza sensi di colpa.</p>
        </div>
    </div>
</div>