<div class="d-flex flex-row flex-wrap justify-content-between cards container">
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/alumni">
        <div class="card-header">Sezione Alunni</div>
        <div class="card-body">
        <h5 class="card-title">Qui puoi trovare le liste dei tuoi alunni.</h5>
        <p class="card-text">Cliccando sul nome della tua classe puoi vedere la lista degli alunni che la compongono. Potrai inoltre modificare la lista se necessario utilizzando gli appositi comandi Modifica ed Elimina.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/calendars">
        <div class="card-header">Sezione Calendario</div>
        <div class="card-body">
        <h5 class="card-title">Visualizza un calendario delle interrogazioni</h5>
        <p class="card-text">In questa sezione potrai vedere la programmazione delle interrogazioni riportata su un calendario. Potrai vedere classe per classe i nomi degli alunni programmati per <span class="spanIta">italiano</span> e <span class="spanSto">storia</span> in base alla classe selezionata.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/insertStudent">
        <div class="card-header">Sezione Inserimento</div>
        <div class="card-body">
        <h5 class="card-title">Inserisci gli alunni nelle liste delle classi.</h5>
        <p class="card-text">Inserisci negli appositi spazi Nome e Cognome, seleziona la classe di appartenenza e premi Invio o clicca sul tasto Inserisci.</p>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;" routerLink="/chooseAlumni">
        <div class="card-header">Sezione Scelta</div>
        <div class="card-body">
        <h5 class="card-title">Scelta casuale di uno o piu alunni da interrogare.</h5>
        <p class="card-text">Con questa funzione potrai scegliere rapidamente chi interrogare, in base a classe di appartenenza e materia, senza sensi di colpa. una volta scelto un aluno, in maniera totalmente casuale, potrai inserire una data per la sua interrogazione, o annullare la selezione. Gli alunni scelti verranno inseriti nel corrispettivo calendario.</p>
        </div>
    </div>
</div>