<div id="tabellaSceltaIta1A" class="hide studentTab">
    <h3 id="scegliAlunnoRandom1" class="scegliAlunnoRandom" (click)="choseRandom(topicToDisplay())">Scegli un alunno fortunato per {{selectedSubject}} classe {{selectedClass}}!</h3>
    <table class="table table-striped bg-light classe1A hide" id="tab1A">
      <thead>
        <tr>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Data interrogazione</th>
        </tr>
      </thead>
      <tbody id="tableBody1Aita" >
        <tr *ngFor="let alumno of alumniToDisplay(); let i = index;">
          <td> {{alumno.surname}} </td>
          <td> {{alumno.name}} </td>
          <input
            name="chosenDate"
            type="date"
            placeholede="insert date"
            value= {{alumno.dateIta}}
            [(ngModel)] = "radio"
          >
          <button class="btn btn-danger" (click)="deleteChosen(alumno)">Annulla</button>
        </tr>
      </tbody >
    </table>
    <button class="btn btn-danger" (click)=" resetChosenList (topicToDisplay())">Reset lista scelti</button>
  </div>
